.weatherInfoDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 20px;
  margin: 40px;
  min-width: 5vw;
  min-height: 35vh;
  max-width: 5vw;
  max-height: 32vh;
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
}
i {
  font-size: 70px;
}
h1, h2 {
  margin: 0;
}
h2 {
  min-height: 56px;
}
h1 {
  margin-top: 15px;
}